{% extends "base.html" %}

{% block title %}{{ dr_name }} - videos{% endblock %}

{% block content %}

<script>
    const showIFrame = (videoId) => {
        const iFrame = document.getElementById('video-iframe')
        iFrame.src = `https://www.youtube.com/embed/${videoId}`
        iFrame.classList.remove('hidden')
    }
    const closeModal = (event) => {
        if (event.target.matches('.modal-button') == false) {
            const iFrame = document.getElementById('video-iframe')
            iFrame.classList.add('hidden')
        }
    }
    window.addEventListener("click", closeModal, false);
</script>

<h1>{{feed.feed.author}}</h1>
<h3><a href="{{feed.feed.href}}">YouTube Channel</a></h3>

<ul id='ul'>
    {% for video in feed.entries %}
    <li>
        <img src="{{video.media_thumbnail[0].url}}" alt="thumbnail">       
        <button class='modal-button' onclick=showIFrame(`{{ video.yt_videoid }}`) >{{video.title}}</button>
    </li>
    {% endfor %}
</ul>
<iframe
    class="modal hidden" id='video-iframe'
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>

{% endblock content %}