
#articles-list {
    margin-top: 1em;
    height: 75vh;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
}

.article-li {
    text-align: center;
    margin: .5em;
}

.article-li button.modal-button {
    font-size: 1.2em;
    background: none;
    border: none;
    text-decoration: underline;
}

.article-li p {
    font-size: .8em;
}


#article-modal {
    background: white;
    border: 1px solid grey;
    border-radius: 1em;
    margin-top: 2em;
    padding: 1em 2em;
    overflow-y: scroll;
    height: 70vh;
}
/* TODO list of links, "X" button. */
#article-modal h2 {
    text-align: center;
    padding-top: 1em;
}

#article-modal p:first-of-type {    
    text-align: center;
    padding: 0px;
    padding-bottom: 1em;
}

#article-modal figure, #article-modal img {
    height: 10rem;
    float: left;
    /* margin: 0 auto; */
    /* text-align: center; */
}

#article-modal figure {
    text-align: right;
    font-size: 0.5em;
    padding: 2em;
}

#article-modal p {
    font-size: 1em;
    text-align: justify;
    padding: 0.5em 0;
}