
<nav id="nav-container">

    {# <script>
        const showNav = () => {
            const navList = document.getElementById('nav-list')
            navList.classList.toggle('hidden')
            navList.classList.toggle('revealed')
        }

        const hideNav = () => {
        }


    </script>

    <button id="nav-button" onclick=showNav() >hamburger</button> #}
    <ul id="nav-list" class="flex">
    {% for link in g.nav_links %}
        <li class="nav-links"><a href="{{ link.href }}">{{link.text}}</a></li>
    {% endfor %} 
    </ul>
</nav>