{% extends "index.html" %}

{% block title %}Update {{ current_user.name }}{% endblock %}

{% block content %}

<h1>Update</h1>

<form action="/update" method="POST">
    <!-- <input type="email" id="email-input" name="email" default="email@domain.com"><br/> -->
    <!-- <input type="password" id="password-input" name="password" default="password"><br/> -->
    <!-- <input type="checkbox" name="" id=""> -->
    <!-- <input type="password" name="key" id="admin-input"> -->
    <input name="name" type="text" id="name-input" >
    <input name="bio" type="text" id="bio-input" value={{ current_user.bio }}>
    <input type="url" name="img" id="img-input">
    
    <input type="submit">
</form>

{% endblock content %}