{% extends "base.html" %}

{% include 'nav.html' %}

{% block title %}{{ dr_name }} - videos{% endblock %}

{% block content %}

<script>
    const showIFrame = (videoId) => {
        const iFrame = document.getElementById('video-iframe')
        iFrame.src = `https://www.youtube.com/embed/${videoId}`
        iFrame.classList.remove('hidden')
    }
    const closeModal = (event) => {
        if (event.target.matches('.modal-button') == false) {
            const iFrame = document.getElementById('video-iframe')
            iFrame.classList.add('hidden')
        }
    }
    window.addEventListener("click", closeModal, false);
</script>

<h1>{{feed.feed.author}} <a id="youtube-favicon" href="{{feed.feed.href}}"" target="_blank" ><i class="fab fa-youtube"></i></a></h1>

<ul id='video-list-container' class="flex f-column">
    {% for video in feed.entries %}
    <li class='video-items'>
        <button class='video-buttons modal-button flex f-column' onclick=showIFrame(`{{ video.yt_videoid }}`) >
            <h3>{{video.title}}</h3>
            <img class='video-thumbnails modal-button' src="{{video.media_thumbnail[0].url}}" alt="thumbnail">
        </button>
    </li>
    {% endfor %}
</ul>
<iframe
    class="modal hidden" id='video-iframe'
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>

{% endblock content %}